<h1>Create an account</h1>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form_short", :object => f, :locals => {:form => f } %>
  <%= render :partial => "form_password", :object => f, :locals => {:form => f } %>
  <%= f.submit "Register" %>
<% end %>