<p>Here's a link to the letter: <%= @link%></p>

<p>Here's what <%= @name%> had to say:<br />
<%= @message%></p>

<p>Ooooh la la,<br />
The Lovahs.com Team</p>
P.S. This message was sent from Lovahs.com by one of our members. If you feel it has arrived by mistake, please forward it to help@lovahs.com and we will investigate.