<strong>Privacy Policy</strong>
<p>This privacy policy describes how Lovahs treats personal information of our members who register for Lovahs.</p>

<strong>What This Privacy Policy Covers</strong>
<p>
			This privacy policy pertains to the use of the Lovahs web site at <a href="http://www.lovahs.com">http://www.Lovahs.com</a>
			<br/>
			This privacy policy covers how Lovahs treats personal information that Lovahs collects and receives. Personal information is information about you that is personally identifiable like your name, address, email address, or phone number.
			<br/>
			Children under 13 are not permitted to use the Lovahs service, and so this privacy policy makes no provision for children's use of the site.
</p>
<strong>Information Collection and How it is used</strong>
<strong>General Information</strong>
<p>
			Lovahs collects personal information when you register with Lovahs to use Lovahs services or to post content on Lovahs.
			<br/>
			When you register we ask for your email address and certain optional information such as your name, birth date, birth place, gender, biographical information, ICQ/AIM/Yahoo/MSN user name, and personal interests.
			<br/>
			If you would like to obtain a paid ("Pro") account, we will ask for your billing address, phone number, and credit card information.
			<br/>
			Lovahs automatically receives and records information on our server logs from your browser, including your IP address, cookie, and the page you request.
			<br/>
			Lovahs uses information for the following general purposes: products and services provision, billing, identification and authentication, services improvement, contact, research, and anonymous reporting.
</p>

<strong>IP Addresses</strong>
<p>IP Addresses are automatically reported by your browser each time you view a web page. Your IP address is stored in our user registration databases when you register with Lovahs.
</p>
<p>IP addresses may be used for various purposes, including:<br/>
			To diagnose or service technology problems reported by our users or engineers that are associated with the IP addresses controlled by a specific web company or ISP.<br/>
			To tailor advertising based on geographic area or other information derived from your IP address. Aggregate information derived from IP addresses may also be reported to advertisers.<br/>
			To estimate the total number of users visiting Lovahs from specific geographical regions.<br/>
			To make sure that people are not voting for themselves or friends during contests or promotions.
			</p>
<strong>Cookies</strong>
<p>A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to your browser from a web site's computers and stored on your computer's hard drive.</p>
			<p>
			You can configure your browser to accept all cookies, reject all cookies, or notify you when a cookie is set.
			<br/>
			If you reject all cookies, you will not be able to use Lovahs products or services that require you to "sign in," and you may not be able to take full advantage of the Lovahs service.
			<br/>
			Lovahs uses its own cookies for a number of purposes, including to: Access your information when you "sign in". Keep track of preferences you specify while you are using Lovahs's services. Display the most appropriate advertising banners, based on your interests and activity on Lovahs. "Estimate and report our total audience size and traffic." Conduct research to improve Lovahs's content and services.
			<br/>
			Lovahs lets other companies (such as Google) [that show advertisements on some of our pages set and access their cookies on your computer. Other entities' use of their cookies is subject to their own privacy policies, not this one. Advertisers or other entities do not have access to Lovahs's cookies.
			</p>
<strong>Web Beacons</strong>
<p>Lovahs uses web beacons to research certain usage and activities of the Lovahs web sites. The information collected through these web beacons is used to find out more about our users, for more accurate reporting, improve the effectiveness of our marketing, and to make Lovahs better. No personally identifiable information from your Lovahs account is collected using these web beacons.</p>
<strong>Information Sharing and Disclosure</strong>
<p>When you post a message, your Lovahs ID or alias that you are posting under is visible to other users.
If you post personal information online that is accessible to the public, you may receive unsolicited messages from other parties in return. Lovahs does not rent or sell your personal information.
</p>
<p>
Generally, Lovahs does not share personal information about you with other people or nonaffiliated companies without your consent except to provide products or services you've requested and in the following circumstances:
<br/>
	Lovahs may be required to disclose personally identifiable information under special circumstances, such as to comply with subpoenas, warrants, court orders or legal process or to establish or exercise our legal rights or defend against legal claims;
	<br/>
	It may be necessary to share information in order to investigate, prevent, or take action regarding suspected or actual illegal activities, including without limitation, fraud, situations involving potential threats to the physical safety of any person, violations of Lovahs's terms of use, or as otherwise permitted or required by law. We will transfer information about you if Lovahs is acquired by or merged with another company. In this event, Lovahs will notify you by email or by putting a prominent notice on the Lovahs web site before information about you is transferred and becomes subject to a different privacy policy. Lovahs may share demographic information with business partners, such as "53% of users who regularly user Lovahs chat are between 18 and 24" or the like. No personally identifiable information will ever be used without your permission (i.e. we will ask you for a quote or testimonial)
	<br/>
	Lovahs displays targeted advertisements based on personal information that is exhibited in people's profiles. This may sometimes make you laugh, as when it shows advertisements for rabbit feed on the profile page of a person whose handle is "BunnyLove." When you register with us, your personal information and other data will be stored and processed in Canada and the United States and this information may be subject to the laws of these jurisdictions.
</p>

<strong>Editing and Deleting Account Information.</strong>
<strong>Security.</strong>
<p>
			You can change your Lovahs Account Information, at any time.
			<br/>
			We may send you certain communications relating to the Lovahs service, such as service announcements and administrative messages, that are considered part of your Lovahs account.
			<br/>
			You can delete your Lovahs account at any time from your account page; however, please note that your identification, billing and contact information may remain in Lovahs's records for some period.
			<br/>
			We limit access to personal information about you to employees who we believe reasonably need to come into contact with that information to provide products or services to you or in order to do their jobs.
			<br/>
			Your Lovahs Account Information is password-protected.
			<br/>
			In certain areas, Lovahs uses SSL-encryption to protect data transmissions.
</p>
<strong>Changes to this Privacy Policy</strong>
<p>Lovahs may update this policy at any time for any reason. If there are any significant changes to how we handle personal information we will send a notice to the primary email address specified in your Lovahs account or by placing a prominent notice on our site.</p>
<p>
If you have questions or suggestions please email help [at] Lovahs [dot] com or you can contact us at:
<br/>
Lovahs<br/>
Customer Care - Privacy<br/>
c/o Lovahs 701 C Street, Third Floor<br/>
San Diego, CA 92101<br/>
Effective Date: November 1, 2009.
</p>