
<p><strong>Terms of Use</strong></p>
<p>    By using the Lovahs.com web site, a service of Lovahs, Inc. ("Lovahs"), you are agreeing to be bound by the following terms and conditions (&quot;Terms of Use&quot;).</p>
<p><strong>Basic Terms</strong><br />
    You must be 13 years and older to use this site.<br />
    You are responsible for any activity that occurs under your screen name.<br />
    You are responsible for keeping your password secure.<br />
    You must not abuse, harass, threaten, impersonate or intimidate other Lovahs users.<br />
    You may not use the Lovahs.com service for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.<br />
    You are solely responsible for your conduct and any data, text, information, screen names, graphics, photos, profiles, audio and video clips, links (&quot;Content&quot;) that you submit, post, and display on the Lovahs.com service.<br />
    Lovahs is intended for personal use and is not a generic story hosting service. Professional or corporate uses of Lovahs are prohibited.<br />
    You must not modify, adapt or hack Lovahs.com or modify another website so as to falsely imply that it is associated with Lovahs.com.<br />
    You must not create or submit unwanted email to any Lovahs members (&quot;Spam&quot;).<br />
    You must not transmit any worms or viruses or any code of a destructive nature.<br />
    You must not, in the use of Lovahs, violate any laws in your jurisdiction (including but not limited to copyright laws).<br />
    Violation of any of these agreements will result in the termination of your Lovahs.com account. While Lovahs.com prohibits such conduct and content on its site, you understand and agree that Lovahs cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the Lovahs.com service at your own risk.</p>
<p><strong>General Conditions</strong><br />
    We reserve the right to modify or terminate the Lovahs.com service for any reason, without notice at any time.<br />
    We reserve the right to alter these Terms of Use at any time. If the alterations constitute a material change to the Terms of Use, we will notify you via Lovahs's internal messaging service or via internet mail or both. What constitutes a “material change" will be determined at our sole discretion, in good faith and using common sense and reasonable judgement.<br />
    We reserve the right to refuse service to anyone for any reason at any time.<br />
    We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Use.<br />
    The Lovahs service makes it possible to post stories hosted on Lovahs to outside websites. This use is accepted (and even encouraged!). However, pages on other websites which display stories hosted on Lovahs.com must provide a link back to Lovahs from each story to its story page on Lovahs.com.<br />
    Your account will also be terminated if it is used for hosting graphic elements of web page designs, icons, smilies, buddy icons, forum avatars, badges and other non-photographic elements on external websites.</p>
<p><strong>Copyright (What's Yours is Yours)</strong><br />
    NOTICE AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT OR INTELLECTUAL PROPERTY INFRINGEMENT<br />
    Lovahs respects the intellectual property of others, and we ask our users to do the same. Lovahs may, in appropriate circumstances and at its discretion, disable and/or terminate the accounts of users who may be repeat infringers. If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide Lovahs's Copyright Agent the following information:<ul>
    <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;</li>
    <li>a description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
    <li> a description of where the material that you claim is infringing is located on the site;</li>
    <li>your address, telephone number, and email address;</li>
    <li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;</li>
    <li>a statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.</li>
</ul>
<p>Lovahs's Agent for Notice of claims of copyright or other intellectual property infringement can be reached as follows:<br />
    By mail:<br />
    Copyright Agent c/o Lovahs 701 C Street, Third Floor San Diego, CA 92101<br />
    By email:<br />
    copyright [at] Lovahs [dot] com<br />
</p>
